:root {
  --color-principal: #e17055;
  --color-details: #1e64a3;
  --color-header: #f3f9fe;

  font-size: 62.5%;
}

.dark {
  --color-bg: #2d3436;
  --color-text: #fff;
}

.light {
  --color-text: #2d3436;
  --color-bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

#app {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;

  overflow: hidden;
}

#app section {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-top: 18rem;
  padding: 1.2rem;
}

#app section button {
  background-color: none;
  cursor: pointer;
  background-color: transparent;

  border: none;
  opacity: 0.6;
}

#app section button img {
  width: 3rem;

  fill: #1e64a3;
}

#app section button:hover {
  opacity: 1;
  transition: 1ms all;
}

/* Estilização do Main */

#app main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(
    45deg,
    var(--color-bg) 35%,
    var(--color-details),
    var(--color-principal)
  );
  font-size: 2.4rem;
  padding: 4rem 6rem;
}

#app main .title {
  /* dar o efeito de reticencias no texto ..... */
  color: var(--color-text);
  width: 30%;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  font-size: 4.6rem;
  font-weight: 200;
}
#app main span {
  color: var(--color-text);
  opacity: 0.6;
  font-size: initial;
}
